/* ---------------------- */
/* ESTILOS GENERALES */
/* ---------------------- */

/* El body actúa como elemento padre */
/* Muchos estilos se heredan automáticamente */

body{

background-image:url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");

background-size:cover;

background-attachment:fixed;

background-position:center;

margin:0;

padding:0;

/* Fuente base heredada por la mayoría de elementos */
font-family:Arial;

/* Color base heredado por textos */
color:#333;

/* Espaciado entre líneas heredado */
line-height:1.6;

}


/* ---------------------- */
/* HEADER */
/* ---------------------- */

h1{

text-align:center;

font-family:Copperplate, serif;

color:#5d4037;

background-color:#fff3cd;

padding:20px;

}


/* Texto de introducción */

.intro{

text-align:center;

font-size:18px;

max-width:700px;

margin:auto;

margin-bottom:30px;

}


/* ---------------------- */
/* CONTENEDOR DE LIBROS */
/* ---------------------- */

.contenedor{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:25px;

padding:30px;

}


/* ---------------------- */
/* TARJETAS DE LIBROS */
/* ---------------------- */

.libro{

background-color:#fff8dc;

width:250px;

padding:15px;

border-radius:12px;

box-shadow:0px 6px 15px rgba(0,0,0,0.2);

text-align:center;

}


/* Imagen del libro */

.libro img{

width:100%;

border-radius:10px;

}


/* Título del libro */

.libro h2{

font-family:"Lucida Handwriting", cursive;

color:#6a994e;

font-size:18px;

}


/* Autor */

.libro h3{

font-family:Papyrus, fantasy;

color:#bc6c25;

}


/* Reseña */

.libro p{

font-size:14px;

}


/* ---------------------- */
/* FRASE DE LECTURA */
/* ---------------------- */

.frase{

text-align:center;

font-size:20px;

font-style:italic;

margin:40px;

background-color:#fff3cd;

padding:20px;

border-radius:10px;

}


/* ---------------------- */
/* FOOTER */
/* ---------------------- */

footer{

text-align:center;

padding:20px;

background-color:#fff3cd;

margin-top:40px;

}


/* ---------------------- */
/* DISEÑO PARA CELULAR */
/* ---------------------- */

@media (max-width:768px){

.contenedor{

flex-direction:column;

align-items:center;

}

.libro{

width:90%;

}

/* ---------------------- */
/* FLEXBOX PARA CATEGORÍAS */
/* ---------------------- */

.categorias{

text-align:center;

margin:40px;

}

/* Contenedor Flexbox */

.contenedor-categorias{

display:flex;

/* centra horizontalmente */
justify-content:center;

/* centra verticalmente */
align-items:center;

/* permite que bajen de línea */
flex-wrap:wrap;

/* espacio entre elementos */
gap:20px;

margin-top:20px;

}

/* Tarjetas de categoría */

.categoria{

background-color:#6a994e;

color:white;

padding:12px 20px;

border-radius:20px;

font-weight:bold;

}
}