/* Scroll suave */
html {
    scroll-behavior: smooth;
}

/* LOADER (pantalla de carga) */
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Animación del loader */
.spinner {
    border: 5px solid #ccc;
    border-top: 5px solid #6a994e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
}

/* Rotación */
@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ESTILOS GENERALES */
body {
    background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");
    background-size: cover;
    margin: 0;
    font-family: Arial;
}

/* MODO OSCURO */
.dark {
    background-color: #121212;
    color: white;
}

/* BOTÓN MODO OSCURO */
#modo-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

/* CONTENEDOR FLEXBOX */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* TARJETAS DE LIBROS */
.libro {
    background: #fff8dc;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

/* EFECTO HOVER */
.libro:hover {
    transform: translateY(-10px);
}

/* ANIMACIÓN AL HACER SCROLL */
.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* CATEGORÍAS */
.categorias {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    text-align: center;
}

/* FLEXBOX */
.contenedor-categorias {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* BOTONES */
.categoria {
    background: #6a994e;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

/* FRASES */
.citas {
    text-align: center;
}

/* TARJETAS DE FRASES */
.cita {
    background: #fff8dc;
    padding: 15px;
}

/* FOOTER */
footer {
    text-align: center;
}